h1{
font-size: 36px;
text-align: center;
}

h2{
text-align: center;
}

h3{
font-size: 20px;
}

h4{
font-size: 20px;
}

nav{
  margin-bottom: 3em;
}

#projects,
a{
  color:#333;
}

#projects{
  max-width:99%;
}

#projects{
   font-weight: bold;
}

#projects{
  max-width:99%;
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
}

#projects a:hover{
  background: #fad;
  padding-left: 3em;
  margin-left: -3em;
}



#exercises,
a{
  color:#333;
}

#exercises{
  max-width:99%;
  overflow: hidden;
}

#exercises{
   font-weight: bold;
}

#exercises{
  max-width:99%;
  display: block;
  font-weight: normal;
  padding-top: .5em;
  padding-bottom: .5em;
  text-decoration: none;
}

#exercises a:hover{
  background: #fad;
  padding-left: 3em;
  margin-left: -3em;
}

.group1{
display: inline-block;
padding: 1em;
margin: 4em;
margin-left: 6em;
}

.group2{
display: inline-block;
padding: 1em;
margin: 4em;

}


li{
line-height: 2.5em;
}








